/* h3{
    background-color: black;
    color: rgb(255, 0, 183);
}

h4{
    background-color: cornflowerblue;
    color: crimson;
}

p{
    background-color: darkmagenta;
    color: darksalmon;
}

h2{
    background-color: rgb(112, 192, 219);
    padding: 20px;
    padding-left: 430px;
    padding-top: 20px;

    border: 5px solid rgb(208, 147, 203);
}

p{
    background-color: rgb(212, 131, 175);
    padding: 20px;

    border-left: 5px solid rgb(117, 117, 216);
    border-right: 5px solid rgb(212, 107, 107);
    border-radius: 5px;

    margin-left: 20px;
    margin-right: 20px;
}


.first_ptag{
    background-color: lightskyblue;
    color: mediumslateblue;
}

.second_ptag{
    background-color: lightpink;
    color: hotpink;
}

.third_ptag{
    background-color: lightsalmon;
    color: coral;
}

#swim{
    background-color: black;
    color: white;
}

#fav{
    background-color: lightsteelblue;
    color: lightgoldenrodyellow;
}

#run{
    background-color: lavender;
    color: rgb(212, 102, 142);
}


.parent_div{
    background-color: lightslategrey;
    color: lavender;
    display: flex;
    gap: 5px;
}

.child1{
    background-color: lightpink;
    width: 300px;
    height: 350px;
    border-radius: 8px;
}
.child2{
    background-color: lightskyblue;
    width: 300px;
    height: 350px;
    border-radius: 5px;
}
.child3{
    background-color: lightseagreen;
    width: 300px;
    height: 350px;
    border-radius: 5px;
}

.parent_div{
    background-color: lightslategrey;
    color: lavender;
    display: flex;
    gap: 5px;
}


.basketball_div{
    background-color: rgb(219, 143, 143);
    display: flex;
    gap: 9px;
    justify-content:center;

}
.basketball1{
    background-color: rgb(228, 232, 147);
    color: darkseagreen;
    width: 200px;
    height: 250px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.basketball2{
    background-color: rgb(163, 237, 241);
    color: darkslategray;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.basketball3{
    background-color: rgb(245, 210, 169);
    color: darksalmon;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.Pets_div{
    background-color: hsl(330, 15%, 61%);
    display: flex;
    gap: 5px;
    justify-content: center;
}

.Dog{
    background-color: darkslategray;
    color: darkseagreen;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Cat{
    background-color: rgb(156, 216, 253);
    color: midnightblue;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Fish{
    background-color: rgb(220, 129, 129);
    color: rgb(237, 182, 164);
    width: 150px;
    height: 200px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
} */

.sweet{
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

nav a{
    text-decoration: none;
    color: white;
}

.sweet h1{
   padding-left: 5px;
}

nav{
    padding-right: 5px;
}

a:hover{
    color:lightseagreen;
    padding: 3px;
    border-radius: 5px;
}

img{
    width: 300px;
}
.parent{
  display: flex;  
  justify-content: center;
  gap: 5px;
}
.parent div{
    border: 2px solid lightskyblue;
    flex-basis: 300px;
    border-radius: 5px;
    margin-top: 15px;
}